body{
    background-color: rgb(218, 224, 230);
    display: flex;
    margin-top: 60px;
}
.khung{
    width: 50%;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
.create{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.a{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid grey;
    margin-top: 10px;
}
.a input{
    border: none;
    margin-left: 5px;
    margin-bottom: 20px;
    width: 250px;
        
}
.login{
    font-size: 50px;
    margin-bottom: 40px;
}
.b{
    font-size: 20px;
    margin: 20px 0px;
}
.c{
    font-size: 20px;
    width: 100px;
    height: 40px;
    background-color: aqua;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
ul{
    display: flex;
    list-style: none;
    gap:20px;
    font-size: 20px;
    margin-left: -43px;

}
#a{
    background-color:rgb(0, 187, 255);
    width: 25px;
    height: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
}
#b{
    background-color:rgb(0, 187, 255);
    width: 25px;
    height: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
#c{
    background-color:rgb(255, 85, 0);
    width: 25px;
    height: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
}